<h1 align="center">Data Science Capstone: Final Assignment Submission</h1>

<hr>

<h2 align="center">Data Collector 9</h2>
<h2 align="center">Assignment By: Derek Evans</h2>
<h2 align="center">Submitted On: Jan. 20th, 2019</h2>

In [1]:
import types
from ibm_botocore.client import Config
import ibm_boto3
get_ipython().system(u'pip install foursquare')
get_ipython().system(u'conda install -c conda-forge geopy --yes')
from geopy.geocoders import Nominatim
import requests
import pandas as pd
import numpy as np
from IPython.display import Image
from IPython.core.display import HTML
# transforming json file into a pandas dataframe
from pandas.io.json import json_normalize
from datetime import datetime, timezone
import pytz
import time
import ibm_db
import ibm_db_dbi

Requirement not upgraded as not directly required: foursquare in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from foursquare)
Requirement not upgraded as not directly required: requests>=2.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from foursquare)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.1->foursquare)
Requirement not upgraded as not directly required: idna<2.7,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.1->foursquare)
Requirement not upgraded as not directly required: urllib3<1.23,>=1.21.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.1->foursquare)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests>=2.1->foursquare)
Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
geopy                     1.18.1                     py_0    conda-forge

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
# The code was removed by Watson Studio for sharing.

In [4]:
main_city_lst = []
city_list1 = list(df_data_2.values.flatten())

temp_list1 = []
temp_list2 = []
count1 = 0

In [5]:
for item in city_list1:
    if count1 < 16:
        temp_list1.append(item)
        count1 += 1
    elif count1 == 16:
        temp_list1.append(item)
        temp_list2.append(temp_list1)
        temp_list1 = []
        count1 = 0
    elif count1 > 17:
        temp_list1 = []
        count1 = 0

In [6]:
#  FOURSQUARE API URL VARIABLES -- IMPORTANT
url = ' ' 
url1 = 'https://api.foursquare.com/v2/venues/trending?'
url2 = '&'
url3 = '%2C%20'
url4 = '%2C'
url5 = 'ne='
url6 = 'sw='
url7 = 'near='
url8 = 'v='
url9 = 'limit='
url10 = 'client_id='
url11 = 'client_secret='

# DATE & TIME VARIABLES -- IMPORTANT
IT = pytz.timezone('America/Creston')
date_now = datetime.now(IT)
date_date = date_now.strftime("%x")
date_time = date_now.strftime("%X")
date_weekday = date_now.strftime("%A")
date_year = date_now.strftime("%Y")
date_month = date_now.strftime("%B")
date_ampm = date_now.strftime("%p")
date_zone = date_now.strftime("%Z")


count = 0
final_city_list = []
city_error_list = []
city_list_pass1 = []

In [7]:
for row in temp_list2:

    # API ID
    url12 = str(url10 + Foursquare_API_ID + url2)
    # API Password
    url13 = str(url11 + Foursquare_API_secret + url2)
    # Near Parameter with City Name
    url14 = str(url7 + str(row[1]) + url3 + str(row[9]) + url3 + str(row[12]) + url2)
    # NE Lat & Long Map Boundary
    url15 = str(url5 + str(row[13]) + url4 + str(row[14]) + url2)
    # SE Lat & Long Map Boundary
    url16 = str(url6 + str(row[15]) + url4 + str(row[16]) + url2)
    # Version
    url17 = str(url8 + Foursquare_API_version + url2)
    # Limit for number of search results returned
    url18 = str(url9 + str(15))

    url = str(url1 + url12 + url13 + url14 + url15 + url16 + url17 + url18)

    results = requests.get(url).json()

    venue1 = results['response']['venues']
    dataframe = json_normalize(venue1)
    city_list = list(dataframe.values.flatten())

    str_count1 = len(city_list)

    if str_count1 > 0:
        for item in city_list:
            city_list_pass1.append(item)
    else:
        pass

In [8]:
# IMPORTANT VARIABLES FOR PASS 1
temp_list_pass1 = []
temp_list_pass2 = []
temp_list_pass3 = []
pass_count = 0
pass_str1 = ' '
pass_str2 = ' '
pass_str3 = ' '
pass_str4 = ' '
pass_str5 = ' '
pass_str6 = ' '

In [9]:
# PASS 2
# FIRST THREE COLUMNS CREATED  == TIME & DATE COLUMNS CREATED 
for item in city_list_pass1:
    pass_str1 = str(item)
    pass_str2 = pass_str1.find('shortName')
    if pass_str2 != -1 and pass_count < 1 and len(temp_list_pass3) == 0:
        pass_count += 1
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('pluralName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 14):int(pass_str5 - 1)]
        temp_list_pass1.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('shortName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 13):int(pass_str5 - 1)]
        temp_list_pass1.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('name')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 8):int(pass_str5 - 2)]
        temp_list_pass1.append(pass_str6)
    elif pass_str2 == -1 and pass_count == 1 and len(temp_list_pass3) == 0:
        temp_list_pass1.append(item)
    elif pass_str2 != -1 and pass_count == 1 and len(temp_list_pass3) == 0:
        temp_list_pass1.append(date_date)
        temp_list_pass1.append(date_time)
        temp_list_pass1.append(date_weekday)
        temp_list_pass1.append(date_year)
        temp_list_pass1.append(date_month)
        temp_list_pass1.append(date_ampm)
        temp_list_pass2.append(temp_list_pass1)
        temp_list_pass1 = []
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('pluralName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 14):int(pass_str5 - 1)]
        temp_list_pass3.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('shortName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 13):int(pass_str5 - 1)]
        temp_list_pass3.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('name')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 8):int(pass_str5 - 1)]
        temp_list_pass3.append(pass_str6)
    elif pass_str2 == -1 and pass_count == 1 and len(temp_list_pass1) == 0:
        temp_list_pass3.append(item) 
    elif pass_str2 != -1 and pass_count == 1 and len(temp_list_pass1) == 0:
        temp_list_pass3.append(date_date)
        temp_list_pass3.append(date_time)
        temp_list_pass3.append(date_weekday)
        temp_list_pass3.append(date_year)
        temp_list_pass3.append(date_month)
        temp_list_pass3.append(date_ampm)
        temp_list_pass2.append(temp_list_pass3)
        temp_list_pass3 = []
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('pluralName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 14):int(pass_str5 - 1)]
        temp_list_pass1.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('shortName')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 13):int(pass_str5 - 1)]
        temp_list_pass1.append(pass_str6)
        #
        pass_str3 = str(item)
        pass_str4 = pass_str3.find('name')
        pass_str5 = pass_str3.find(', ', pass_str4)
        pass_str6 = pass_str3[int(pass_str4 + 8):int(pass_str5 - 1)]
        temp_list_pass1.append(pass_str6)

In [10]:
# IMPORTANT VARIABLES FOR PASS  2
pass2_list1 = []
pass2_list2 = []
pass2_list3 = []
pass2_list4 = []
pass2_list5 = []
pass2_list6 = []
pass2_str1 = ' '
pass2_str2 = ' '
pass2_str3 = ' '
pass2_str4 = ' '
pass2_str5 = ' '
pass2_count = 0

In [11]:
# PASS  2
# STRIP ADDRESS LINE & CONVERT TO STRING
for row in temp_list_pass2:
    for item in row:
        pass2_str1 = str(item)
        pass2_str2 = pass2_str1.find("['")
        if str(pass2_str2) != "-1":
            pass2_str1 = pass2_str1.strip("['")
            pass2_str1 = pass2_str1.strip("]'")
            pass2_str1 = pass2_str1.replace("', '", ', ')
            pass2_list1.append(pass2_str1)
        elif str(pass2_str2) == "-1":
            pass2_list1.append(item)
    pass2_list2.append(pass2_list1)
    pass2_list1 = []

for row in pass2_list2:
    for item in row:
        pass2_str3 = str(item)
        pass2_str4 = pass2_str3.find("label")
        if pass2_str4 == -1:
            pass2_list3.append(item)
        elif pass2_str4 != -1:
            pass
    pass2_list4.append(pass2_list3)
    pass2_list3 = []

In [12]:
# IMPORTANT VARIABLES FOR PASS 3
pass3_list1 = []
pass3_list2 = []
pass3_str1 = ' '
pass3_str2 = ' '
pass3_counter = 0

In [13]:
# PASS  3
# STRIP ADDRESS LINE & CONVERT TO STRING
for row in pass2_list4:
    pass3_counter = 0
    pass3_str1 = len(row)
    
    if str(row[8]) == 'San Fransico':
        if pass3_str1 == 24:
            row.pop(3)
            row.pop(3)
            for item in row:
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

        elif pass3_str1 == 25:
            for item in row:
                pass3_str2 = str(item)
                row.pop(3)
                row.pop(3)
                row.pop(10)
                for item in row:
                    pass3_list1.append(str(pass3_str2))
                    pass3_counter += 1
                pass3_list2.append(pass3_list1)
                pass3_list1 = []
        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

    elif str(row[14]) == 'San Fransico':
        if pass3_str1 == 24 :
            row.pop(3)
            row.pop(3)
            for item in row:
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

        elif pass3_str1 == 25:
            if str(row[3]) == 'nan' and str(row[4]) == 'nan':
                row.pop(3)
                row.pop(3)
                row.pop(10)
                for item in row:
                    pass3_list1.append(str(pass3_str2))
                    pass3_counter += 1
                pass3_list2.append(pass3_list1)
                pass3_list1 = []

        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

    elif str(row[1]) == 'Minneapolis':
        if pass3_str1 == 10:
            pass        
        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

    elif str(row[6]) == 'Minneapolis':
        if pass3_str1 == 23:
            for item in row:
                pass3_str2 = str(item)            
                if pass3_counter == 10:
                    pass3_counter += 1
                    pass
                elif pass3_counter != 10:
                    pass3_list1.append(str(pass3_str2))
                    pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []
        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

    elif str(row[6]) == 'Boston':
        if pass3_str1 == 21:
            for item in row:
                pass3_str2 = str(item)            
                if pass3_counter == 14:
                    pass3_list1.append('blank')
                    pass3_counter += 1
                elif pass3_counter != 14:
                    pass3_list1.append(str(pass3_str2))
                    pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []
        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []

    elif str(row[6]) == 'Detroit':
        if pass3_str1 == 20:
            for item in row:
                pass3_str2 = str(item)
                if pass3_counter == 13:
                    pass3_list1.append('blank')
                    pass3_counter += 1
                elif pass3_counter == 7:
                    pass3_list1.append('blank')
                    pass3_counter += 1
                elif pass3_counter != 7 or pass3_counter != 13:
                    pass3_list1.append(str(pass3_str2))
                    pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []
        else:
            for item in row:
                pass3_str2 = str(item)
                pass3_list1.append(str(pass3_str2))
                pass3_counter += 1
            pass3_list2.append(pass3_list1)
            pass3_list1 = []
 
    else:
        for item in row:
            pass3_str2 = str(item)
            pass3_list1.append(str(pass3_str2))
            pass3_counter += 1
        pass3_list2.append(pass3_list1)
        pass3_list1 = []

In [14]:
# IMPORTANT VARIABLES FOR PASS 4
pass4_list1 = []
pass4_list2 = []
pass4_str1 = ' '
pass4_str2 = ' '
pass4_counter = 0

In [15]:
# PASS  4
#  COUNT ADJUSTOR
for row in pass3_list2:
    pass4_str1 = int(len(row))
    if pass4_str1 < 22:
        pass4_str2 = int(22 - int(pass4_str1))
        for item in range(pass4_str1):
            pass4_list1.append(row.pop(0))
        for item in range(pass4_str2):
            pass4_list1.append('blank')
        pass4_list2.append(pass4_list1)
        pass4_list1 = []        
    elif pass4_str1 > 22:
        pass4_str2 = int(int(pass4_str1) -22)
        for item in range(pass4_str1):
            pass4_list1.append(row.pop(0))
        for item in range(pass4_str2):
            pass4_list1.append('blank')
        pass4_list2.append(pass4_list1)
        pass4_list1 = []            
    elif pass4_str1 == 22:
        pass4_str2 = 22
        for item in row:
            pass4_list1.append(item)
        pass4_list2.append(pass4_list1)
        pass4_list1 = []

In [16]:
# IMPORTANT VARIABLES FOR PASS 4
pass5_list1 = []
pass5_list2 = []
pass5_str1 = ' '
pass5_str2 = ' '
pass5_counter = 0

In [17]:
for row in pass4_list2:
    pass5_str1 = int(len(row))
    if pass5_str1 > 22:
        for item in row[0:22]:
            pass5_list1.append(item)
        pass5_list2.append(pass5_list1)
        pass5_list1 = []
    else:
        for item in row:
            pass5_list1.append(item)
        pass5_list2.append(pass5_list1)
        pass5_list1 = []

In [18]:
city_DF = pd.DataFrame(columns=['categories1', 'categories2', 'categories3', 'id', 'location.address', 'location.cc', 'location.city',
                                                                         'location.country', 'location.crossStreet', 'location.formattedAddress',
                                                                         'location.lat', 'location.lng', 'location.postalCode', 'location.state',
                                                                         'name', 'venuePage.id', 'date', 'time', 'weekday', 'year', 'month', 'am_pm'])

In [19]:
for row in pass5_list2:
    city_DF = city_DF.append(pd.Series(row, index=['categories1', 'categories2', 'categories3', 'id', 'location.address', 'location.cc', 'location.city',
                                                                                                         'location.country', 'location.crossStreet', 'location.formattedAddress',
                                                                                                         'location.lat', 'location.lng', 'location.postalCode', 'location.state',
                                                                                                         'name', 'venuePage.id', 'date', 'time', 'weekday', 'year', 'month', 'am_pm']),
                                                          ignore_index=True)

In [20]:
city_DF

,categories1,categories2,categories3,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.formattedAddress,...,location.postalCode,location.state,name,venuePage.id,date,time,weekday,year,month,am_pm
0,Basketball Stadiums,Basketball,Basketball Stadiu,4ad4bff8f964a52002ea20e3,125 S Pennsylvania St,US,Indianapolis,United States,at E Georgia St,"125 S Pennsylvania St (at E Georgia St), India...",...,46204,IN,Bankers Life Fieldhouse,42217987,01/20/19,17:32:20,Sunday,2019,January,PM
1,Convention Centers,Convention Center,Convention Center,5c40f328345cbe002c99e458,US,San Jose,United States,"San Jose, CA 95113, United States",37.329998,-121.889275,...,Further Confusion 2019,01/20/19,17:32:20,Sunday,2019,January,PM,blank,blank,blank
2,Indie Movie Theaters,Indie Movies,Indie Movie Theater,nan,nan,4089ae00f964a520bff21ee3,429 Castro St,US,San Francisco,United States,...,nan,37.761991717624404,-122.43496924638747,94114,CA,Castro Theatre,01/20/19,17:32:20,Sunday,2019
3,Movie Theaters,Movie Theater,Movie Theater,19.0,19 movies,4a5824e5f964a5206db71fe3,135 4th St Ste 3000,US,San Francisco,United States,...,nan,37.78457546024026,-122.40323635482677,94103,CA,AMC Metreon 16,01/20/19,17:32:20,Sunday,2019
4,Sports Bars,Sports Bar,Sports Bar,nan,nan,57587782498e1367ff5c38ec,365 11th St,US,San Francisco,United States,...,37.77124505563008,-122.41299663242239,94103,CA,BuzzWorks,01/20/19,17:32:20,Sunday,2019,January
5,Movie Theaters,Movie Theater,Movie Theater,16.0,16 movies,4390a026f964a5204d2b1fe3,1000 Van Ness Ave,US,San Francisco,United States,...,nan,37.78515072462566,-122.42012248044318,94109,CA,AMC Van Ness 14,01/20/19,17:32:20,Sunday,2019
6,Souvlaki Shops,Souvlaki,Souvlaki Shop,nan,nan,5748e1f0498e1c0c6d214098,531 Divisadero St,US,San Francisco,United States,...,37.77457655200334,-122.4378085167028,94117,CA,Souvla,01/20/19,17:32:20,Sunday,2019,January

In [22]:
# The code was removed by Watson Studio for sharing.

In [23]:
# The code was removed by Watson Studio for sharing.

<---- Connected to DataSciDB ---->

In [24]:
# The code was removed by Watson Studio for sharing.

7

In [25]:
ibm_db.close(conn)

True