<h1>Segmentation &amp; Clustering Neighborhoods Assignment Submission</h1>
<h2>Part 2</h2>

<hr>

In [1]:
# Import the request library 
import requests
# Import the Pandas library  as pd
import pandas as pd

In [2]:
# Assign the wikipedia URL for the Canadian postal codes site for all codes starting with the letter "M".
# to the newly named variable "wikipedia_link"
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#  Assign the get function from the requests library to download the contents of url assigned to
# the wikipedia_link variable
raw_random_wikipedia_page = requests.get(str(wikipedia_link))

In [3]:
# Assign XML as a text file string  to newly named variable "page"
page = raw_random_wikipedia_page.text
# Displays tmessage indicating that the XML string was successfully
# assigned to the page variable.
print('<----    XML String Successfully Assigned to Variable    ---->')

<----    XML String Successfully Assigned to Variable    ---->

In [4]:
# Assign the string length of  the page variable and 
# assign the numerical value to the newly named variable page_length.
page_length = len(page)
# Assign list containing postal codes to newly named variable postal_lst.
postal_lst = ['M5G', 
                          'M2H', 
                          'M4B', 
                          'M1J', 
                          'M4G', 
                          'M4M', 
                          'M1R', 
                          'M9V', 
                          'M9L', 
                          'M5V', 
                          'M1B', 
                          'M5A']
# Assign the  list item count from the postal_lst  list and
# assign the numerical value to the newly named variable postal_lst_len.
postal_lst_len = int(len(postal_lst))
# Assign empty list to newly named variable city_list.
city_lst = []
# Assign empty list to newly named variable temp_city_list.
temp_city_list = []

# For loop iterates through each item contained in the postal_lst list
# and removes HTML tags from the XML string assigned to the page 
# variable.
for item in postal_lst:
    # This line was created to ensure that items from the previous stage 
    # of the loop are cleared from the temp_city_list.
    temp_city_list = []
    # Searches the contents of the page variable for the postal code 
    # assigned to item and returns the character value from the xml 
    # string and assigns the numerical value to a newly named 
    # variable line_trim1.
    line_trim1 = page.find(item)
    # Subtracts 5 from the character value assigned to the line_trim1
    # variable and assigns the new value to a newly named variable line_trim2
    line_trim2 = line_trim1 - 5
    # Searches the contents of the page variable for the '<tr>'  HTML tag 
    # using the find method starting  from the string location assigned to 
    # line_trim2 and returns the character value reference number and assigns 
    # the numerical value to a newly named variable line_trim3.
    line_trim3 = page.find('<tr>', line_trim2)
    # Assigns a string from the page variable between character reference
    # values assigned to line_trim2 and line_trim3 to a newly named variable
    # temp_city_str1.
    temp_city_str1 = page[line_trim2:line_trim3]
    # Removes the '</td>' & '</tr>' HTML from the string assigned to the 
    # temp_city_str1 variable using the replace method and assigns the new string 
    # to the newly named variable  temp_city_str2.
    temp_city_str2 = temp_city_str1.replace('</td></tr>', ' ')
    # Assigns a string from the temp_city_str2 variable between character reference
    # values 13 and the string length of  the temp_city_str2 variable and assigns it to
    # the temp_city_str1 variable.
    temp_city_str1 = temp_city_str2[13:len(temp_city_str2)]
    # Assigns a string from the temp_city_str2 variable between character reference
    # values 5 and the string length of the temp_city_str1 variable and assigns it to
    # the newly named variable temp_city_str3
    temp_city_str3 = temp_city_str1[5:len(temp_city_str1)]
    
    # Assigns a string from the temp_city_str2 variable between character reference
    # values 5 and 8 and assigns it to the newly named variable line1_str   
    line1_str = temp_city_str2[5:8]
    
    # Searches the contents of the temp_city_str3 variable for the '<td>'  HTML tag 
    # using the find method and returns the character value reference number 
    # and assigns the numerical value to a newly named variable temp_str1.
    temp_str1 = temp_city_str3.find('<td>')
    # Increases the value assigned to the temp_str1 variable by adding 4 to the value
    # and assigns the new value to a newly named variable temp_str2.    
    temp_str2 = temp_str1 + 4
    # Assigns a string from the temp_city_str3 variable between character reference
    # values assigned to the temp_str2 variable and the string length of the temp_city_str3 
    # variable and assigns it to the newly named variable temp_city_str3
    line2_str = temp_city_str3[temp_str2:len(temp_city_str3)]
    # Removes the '</a>' HTML tag from the string assigned to the line2_str variable 
    # using the replace method and assigns the new string to the line2_str variable.
    line2_str = line2_str.replace('</a>', ' ')
    # Searches the contents of the line2_str variable for the '>'  character
    # using the find method and returns the character value reference number 
    # and assigns the numerical value to the newly named variable line2_temp1.
    line2_temp1 = line2_str.find('>')
    # Increases the value assigned to the line2_temp1 variable by adding 1 to the value
    # and assigns the new value to the line2_temp1 variable.   
    line2_temp1 = line2_temp1 + 1
    # Assigns a string from the str2_str variable between character reference
    # values assigned to the line2_temp1 variable and the string length of the line2_str
    # variable and assigns it to the line2_str variable.
    line2_str = line2_str[line2_temp1:len(line2_str)]
    # Removes all new line characters from the line2_str variable and assigns the new
    # string to the line2_str variable.
    line2_str = line2_str.strip('\n \n')
    
    # Assigns a string from the temp_city_str3 variable between character reference
    # 0 and the string length of the temp_str1 variable and assigns it to the newly named 
    # variable line3_str.
    line3_str = temp_city_str3[0:temp_str1]
    # Removes the '</a>' & '</td>' HTML tags from the string assigned to the line3_str variable 
    # using the replace method and assigns the new string to the line3_str variable .
    line3_str = line3_str.replace('</a></td>', ' ')
    # Searches the contents of the line3_str variable for the '>'  character
    # using the find method and returns the character value reference number 
    # and assigns the numerical value to the newly named variable line3_temp1
    line3_temp1 = line3_str.find('>')
    # Increases the value assigned to the line3_temp1 variable by adding 1 to the value
    # and assigns the new value to the line3_temp1 variable.   
    line3_temp1 = line3_temp1 + 1
    # Assigns a string from the line3_str variable between character reference
    # values assigned to the line3_temp1 variable and the string length of the line3_str
    # variable and assigns it to the line3_str variable.
    line3_str = line3_str[line3_temp1:len(line3_str)]
    # Removes all new line characters from the line3_str variable and assigns the new
    # string to the line3_str variable.
    line3_str = line3_str.strip(' \n')
    
    # Appends Postal Code to the temp_city_list list
    temp_city_list.append(line1_str)
    # Appends Borough to the temp_city_list list
    temp_city_list.append(line3_str)
    # Appends Neighborhood to the temp_city_list list
    temp_city_list.append(line2_str)
    
    # Appends the temp_city_list as a row in the city_lst list
    city_lst.append(temp_city_list)

In [5]:
# Display city_lst to confirm xml file was successfully scraped
print(city_lst)

[['M5G', 'Downtown Toronto', 'Central Bay Street'], ['M2H', 'North York', 'Hillcrest Village'], ['M4B', 'East York', 'Woodbine Gardens'], ['M1J', 'Scarborough', 'Scarborough Village'], ['M4G', 'East York', 'Leaside'], ['M4M', 'East Toronto', 'Studio District'], ['M1R', 'Scarborough', 'Maryvale'], ['M9V', 'Etobicoke', 'Albion Gardens'], ['M9L', 'North York', 'Humber Summit'], ['M5V', 'Downtown Toronto', 'CN Tower'], ['M1B', 'Scarborough', 'Rouge'], ['M5A', 'Downtown Toronto', 'Harbourfront']]

In [6]:
# Unpack and display each row in city_lst
for line in city_lst:
    print(line)

['M5G', 'Downtown Toronto', 'Central Bay Street']
['M2H', 'North York', 'Hillcrest Village']
['M4B', 'East York', 'Woodbine Gardens']
['M1J', 'Scarborough', 'Scarborough Village']
['M4G', 'East York', 'Leaside']
['M4M', 'East Toronto', 'Studio District']
['M1R', 'Scarborough', 'Maryvale']
['M9V', 'Etobicoke', 'Albion Gardens']
['M9L', 'North York', 'Humber Summit']
['M5V', 'Downtown Toronto', 'CN Tower']
['M1B', 'Scarborough', 'Rouge']
['M5A', 'Downtown Toronto', 'Harbourfront']

In [7]:
# Assign column names to newly named Pandas dataframe toronto_DF.
toronto_DF = pd.DataFrame(columns=['PostalCode', 'Borough', 'Neighborhood'])
# Display new dataframe as confirmation of successful creation.
toronto_DF

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [8]:
# For Loop iterates through each row of  city_lst and appends the row to
# the toronto_DF pandas dataframe.
for row in city_lst:
   toronto_DF = toronto_DF.append(pd.Series(row, index=['PostalCode', 
                                                                                                                         'Borough', 
                                                                                                                         'Neighborhood']), 
                                                                           ignore_index=True)

# Display updated dataframe as confirmation of successful update
toronto_DF

   PostalCode           Borough         Neighborhood
0         M5G  Downtown Toronto   Central Bay Street
1         M2H        North York    Hillcrest Village
2         M4B         East York     Woodbine Gardens
3         M1J       Scarborough  Scarborough Village
4         M4G         East York              Leaside
5         M4M      East Toronto      Studio District
6         M1R       Scarborough             Maryvale
7         M9V         Etobicoke       Albion Gardens
8         M9L        North York        Humber Summit
9         M5V  Downtown Toronto             CN Tower
10        M1B       Scarborough                Rouge
11        M5A  Downtown Toronto         Harbourfront

In [9]:
# Read contents of csv file and assign data to new named DataFrame geo_DF
geo_DF = pd.read_csv('http://cocl.us/Geospatial_data')
# Display updated dataframe as confirmation of successful update
geo_DF.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
# Unpack DataFrame values from the Postal Code column and
#  assign values to the newly named variable geo_lst1
geo_lst1 = list(geo_DF['Postal Code'])
# Display geo_lst1 as confirmation of successful creation
print(geo_lst1)

['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H', 'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B', 'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B', 'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N', 'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A', 'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M', 'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A', 'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M', 'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W', 'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N', 'M9P', 'M9R', 'M9V', 'M9W']

In [11]:
# Unpack DataFrame values from the Latitude column and
#  assign values to the newly named variable geo_lst2
geo_lst2 = list(geo_DF['Latitude'])
# Display geo_lst1 as confirmation of successful creation
print(geo_lst2)

[43.806686299999996, 43.7845351, 43.7635726, 43.7709921, 43.773136, 43.7447342, 43.7279292, 43.711111700000004, 43.716316, 43.692657000000004, 43.7574096, 43.750071500000004, 43.7942003, 43.7816375, 43.8152522, 43.799525200000005, 43.836124700000006, 43.8037622, 43.7785175, 43.7869473, 43.7574902, 43.789053, 43.7701199, 43.752758299999996, 43.7827364, 43.7532586, 43.745905799999996, 43.72589970000001, 43.7543283, 43.7679803, 43.737473200000004, 43.7390146, 43.7284964, 43.7616313, 43.725882299999995, 43.7063972, 43.695343900000005, 43.67635739999999, 43.7090604, 43.7053689, 43.685347, 43.6795571, 43.6689985, 43.6595255, 43.7280205, 43.7127511, 43.7153834, 43.7043244, 43.6895743, 43.68641229999999, 43.6795626, 43.667967, 43.6658599, 43.6542599, 43.6571618, 43.6514939, 43.644770799999996, 43.6579524, 43.65057120000001, 43.6408157, 43.6471768, 43.6481985, 43.7332825, 43.7116948, 43.6969476, 43.6727097, 43.6626956, 43.6532057, 43.6289467, 43.6464352, 43.6484292, 43.718517999999996, 43.709577, 43.6937813, 43.6890256, 43.669542, 43.66900510000001, 43.647926700000006, 43.6368472, 43.713756200000006, 43.6911158, 43.67318529999999, 43.6616083, 43.6489597, 43.6515706, 43.6623015, 43.6369656, 43.6627439, 43.6056466, 43.60241370000001, 43.653653600000005, 43.6362579, 43.6288408, 43.6678556, 43.6509432, 43.6435152, 43.7563033, 43.7247659, 43.706876, 43.696319, 43.6889054, 43.739416399999996, 43.706748299999994]

In [12]:
# Unpack DataFrame values from the Longitude column and
#  assign values to the newly named variable geo_lst3
geo_lst3 = list(geo_DF['Longitude'])
# Display geo_lst1 as confirmation of successful creation
print(geo_lst3)

[-79.19435340000001, -79.16049709999999, -79.1887115, -79.21691740000001, -79.23947609999999, -79.23947609999999, -79.26202940000002, -79.2845772, -79.23947609999999, -79.2648481, -79.27330400000001, -79.2958491, -79.26202940000002, -79.3043021, -79.2845772, -79.3183887, -79.20563609999999, -79.3634517, -79.3465557, -79.385975, -79.37471409999999, -79.40849279999999, -79.40849279999999, -79.4000493, -79.4422593, -79.3296565, -79.352188, -79.340923, -79.4422593, -79.48726190000001, -79.46476329999999, -79.5069436, -79.49569740000001, -79.52099940000001, -79.31557159999998, -79.309937, -79.3183887, -79.2930312, -79.3634517, -79.34937190000001, -79.3381065, -79.352188, -79.31557159999998, -79.340923, -79.3887901, -79.3901975, -79.40567840000001, -79.3887901, -79.38315990000001, -79.4000493, -79.37752940000001, -79.3676753, -79.38315990000001, -79.3606359, -79.37893709999999, -79.3754179, -79.3733064, -79.3873826, -79.3845675, -79.38175229999999, -79.38157640000001, -79.37981690000001, -79.4197497, -79.41693559999999, -79.41130720000001, -79.40567840000001, -79.4000493, -79.4000493, -79.3944199, -79.37484599999999, -79.3822802, -79.46476329999999, -79.44507259999999, -79.42819140000002, -79.453512, -79.4225637, -79.4422593, -79.4197497, -79.42819140000002, -79.4900738, -79.47601329999999, -79.48726190000001, -79.46476329999999, -79.456325, -79.4844499, -79.3894938, -79.61581899999999, -79.321558, -79.50132070000001, -79.54348409999999, -79.5069436, -79.49850909999999, -79.52099940000001, -79.53224240000002, -79.55472440000001, -79.57720079999999, -79.56596329999999, -79.53224240000002, -79.51818840000001, -79.53224240000002, -79.55472440000001, -79.5884369, -79.5940544]

In [13]:
# Assign a value of 0 to the newly named variable count
count = 0
# Assign an empty list to the newly named variable geo_lst
geo_lst = [ ]
# Assign an empty list to the newly named variable temp_lst
temp_lst = []

# While loop uses the count variable as a generator that
# is used in the boolean condition statement that iterates
# through geo_lst1, geo_lst2, and geo_lst3.
while (int(count) != int(len(geo_lst1))):
   
    # All list items are removed from the temp_lst list  from
    # from the previous stage of the loop.
    temp_lst = []
    
    # The value from geo_lst1[count] is appended to the temp_lst
    # list as an indivual list item.
    temp_lst.append(geo_lst1[count])
    # The value from geo_lst2[count] is appended to the temp_lst
    # list as an indivual list item.
    temp_lst.append(geo_lst2[count])
    # The value from geo_lst3[count] is appended to the temp_lst
    # list as an indivual list item.
    temp_lst.append(geo_lst3[count])
    
    # The temp_lst list is appended to the geo_lst list as an
    # individual list, which will behave a like a row in the final list.
    geo_lst.append(temp_lst)
    
    # A value of 1 is added the count variable which is used in the
    # boolean condition statement to determine if the while loop
    # shall continue its iteration process.
    count += 1
    
# An empty list is assigned to the newly named variable geo_city_lst
geo_city_lst = []
# An empty list is assigned to the newly named variable temp_gc_lst
temp_gc_lst = []

# A for loop that iterates through each row of the city_lst list and
# appends final list rows to the geo_city_lst based on a conditional
# statement contained within a nested for loop.
for row1 in city_lst:
    
    # A nested for that iterates through each row of the geo_lst List
    # and performs a conditional test to determine which items from
    # the city_lst and geo_lst lists are consolidated into the final list
    # to be converted into a DataFrame.
    for row2 in geo_lst:
        
        # An if conditional statement used to check if the individual 
        # items from list position 0 in the row2 and row1 lists are equal
        # to each other.  If the output of the conditional statement is True,
        # the lines nested within the if statement are executed until it reaches
        # the last line.
        if str(row2[0]) == str(row1[0]):
            
            # Appends the value from row1[0] to the temp_gc_lst list.
            temp_gc_lst.append(row1[0])
            # Appends the value from row1[1] to the temp_gc_lst list.
            temp_gc_lst.append(row1[1])
            # Appends the value from row1[2] to the temp_gc_lst list.
            temp_gc_lst.append(row1[2])
            # Appends the value from row2[1] to the temp_gc_lst list.
            temp_gc_lst.append(row2[1])
            # Appends the value from row2[2] to the temp_gc_lst list.
            temp_gc_lst.append(row2[2])
            
            # Appends the temp_gc_lst list to the geo_city_lst list.
            geo_city_lst.append(temp_gc_lst)
            
            # Removes the current items contained within the temp_gc_lst
            # and replaces it with an empty list in preparation for the next
            # of the for loop.
            temp_gc_lst = []
        
        # An elif condition used to pass to the next stage of the for loop
        # if the output of the conditional statement is False.
        elif str(row2[0]) != str(row1[0]):
            pass

In [14]:
# Assign column names to newly named Pandas dataframe toronto_Geo_DF.
toronto_Geo_DF = pd.DataFrame(columns=['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude'])
# Display new dataframe as confirmation of successful creation.
toronto_Geo_DF

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [15]:
# For Loop iterates through each row of  geo_city_lst and appends the row to
# the toronto_Geo_DF pandas dataframe.
for row in geo_city_lst:
   toronto_Geo_DF = toronto_Geo_DF.append(pd.Series(row, index=['PostalCode', 
                                                                                                                                              'Borough', 
                                                                                                                                              'Neighborhood', 
                                                                                                                                              'Latitude', 
                                                                                                                                             'Longitude']), 
                                                                                                  ignore_index=True)

# Display updated dataframe as confirmation of successful update
toronto_Geo_DF

   PostalCode           Borough         Neighborhood   Latitude  Longitude
0         M5G  Downtown Toronto   Central Bay Street  43.657952 -79.387383
1         M2H        North York    Hillcrest Village  43.803762 -79.363452
2         M4B         East York     Woodbine Gardens  43.706397 -79.309937
3         M1J       Scarborough  Scarborough Village  43.744734 -79.239476
4         M4G         East York              Leaside  43.709060 -79.363452
5         M4M      East Toronto      Studio District  43.659526 -79.340923
6         M1R       Scarborough             Maryvale  43.750072 -79.295849
7         M9V         Etobicoke       Albion Gardens  43.739416 -79.588437
8         M9L        North York        Humber Summit  43.756303 -79.565963
9         M5V  Downtown Toronto             CN Tower  43.628947 -79.394420
10        M1B       Scarborough                Rouge  43.806686 -79.194353
11        M5A  Downtown Toronto         Harbourfront  43.654260 -79.360636